# Ignore vim dirs and files
vim/.vim/backup/
vim/.vim/plugged/
vim/.vim/swap/
vim/.vim/tmp/
vim/.vim/undo/
vim/.vim/.netrwhist
vim/.vim/viminfo
vim/.vim/viminf*.tmp
vim/.vim/autoload/plug.vim
vim/.vim/autoload/plug.vim.old

# Dont sync bash completion and host-specific config
bash/.bash/completion/
bash/.bash/shenv

# Pentadactyl files
pentadactyl/.pentadactyl/info/
