! Cursor theme
xcursor.theme: Vanilla-DMZ

! URxvt config
URxvt*termName: rxvt-256color

URxvt.scrollBar: off
! URxvt.font: -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt.font: xft:Terminess Powerline:pixelsize=12,xft:Symbola:pixelsize=12
URxvt.internalBorder: 0
URxvt*selectToClipboard: true
URxvt*saveLines: 32767

! Transparency
URxvt.transparent: false

URxvt.perl-ext-common: default,matcher,font-size

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 2
URxvt.tabbed.tab-bg: 0
URxvt.tabbed.new-button: no
URxvt.tabbed.title: no

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease

! jellybeans
! See https://github.com/nanotech/jellybeans.vim

*.background: #151515
*.foreground: #ffffff
! black
*.color0: #888888
*.color8: #525252
! red
*.color1: #cf6a4c
*.color9: #ff9d80
! green
*.color2: #99ad6a
*.color10: #c3e6ad
! yellow
*.color3: #fad07a
*.color11: #ffefbf
! blue
*.color4: #8197bf
*.color12: #accaff
! magenta
*.color5: #8787af
*.color13: #c4c4ff
! cyan
*.color6: #8fbfdc
*.color14: #80bfaf
! white
*.color7: #888888
*.color15: #e8e8d3

! xscreensaver
xscreensaver.fade: false
xscreensaver.unfade: false
xscreensaver.overlayTextForeground: #FFFF00
xscreensaver.overlayTextBackground: #000000
xscreensaver.overlayStderr: True
xscreensaver.font: *-medium-r-*-140-*-m-*
xscreensaver.Dialog.foreground: #000000
xscreensaver.Dialog.background: #E6E6E6
xscreensaver.Dialog.Button.foreground: #000000
xscreensaver.Dialog.Button.background: #F5F5F5

!*Dialog.Button.pointBackground: #EAEAEA
!*Dialog.Button.clickBackground: #C3C3C3
xscreensaver.Dialog.text.foreground: #000000
xscreensaver.Dialog.text.background: #FFFFFF
xscreensaver.passwd.thermometer.foreground: #4464AC
xscreensaver.passwd.thermometer.background: #FFFFFF
xscreensaver.Dialog.topShadowColor: #FFFFFF
xscreensaver.Dialog.bottomShadowColor: #CECECE
xscreensaver.Dialog.logo.width: 210
xscreensaver.Dialog.logo.height: 210
xscreensaver.Dialog.internalBorderWidth: 24
xscreensaver.Dialog.borderWidth: 1
xscreensaver.Dialog.shadowThickness: 2
